.body {
    font-size: medium;
    
}

.card{
    float: right;
    background-color: lightgreen;
    
}

html{
    background-color: honeydew;
    background-repeat: repeat-y, repeat-x;
    background-size: contain;
}

.navbar {
    background-color: khaki;
}