html{
    background-color: silver;
    background-size: contain;
  
}

.navbar{
    background-color: mediumblue;
}

.card {
    width: 100%;
    background-color: lightskyblue;
    
}

ul {
    list-style-type: none;
}

li {
    font-size: 8pt;
}

.forecast-card {
    background-color: lightyellow;
    
}

.city-btn {
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
}

.card-margin {
    margin-top: 1rem;

}

.col-5-day {
    padding: 0px;
    margin-top: 1rem!important;
    border-radius: 0.5rem;
}